<div class="demo">

<h3>New York Times Best Sellers Lists</h3>

	<section class="step-1">
		<h4>Choose your list</h4>

		<ul>
			<li ng-repeat="list in lists" ng-click="selectList()">
				 {{list.list_name}}
			</li>

		</ul>

	</section>


	<section ng-show="dateChosen" class="step-2">

		<h2> Choose your date </h2>
		<form class="form-horizontal">
			<input type="datetime" ng-model="date">
			<button class="btn" ng-click="doSearch()"><i class="icon-search"></i>search</button>
		</form>

		<ol>
			<li ng-repeat='book in results.results'>
				<p>{{book.book_details[0].title}}</p>
			</li>
		</ol>

	</section>



</div>



